.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.device-table table {
  width: 100%;
  border-collapse: collapse;
}

.device-table th, .device-table td {
  padding: 8px;
  border: 1px solid black;
}

.device-table th {
  background-color: gold;
  color: black;
  font-weight: bold;
}
.update-btn,
.add-btn,
.edit-btn,
.delete-btn,
.cancel-btn,
.cancel-delete-btn,
.confirm-delete-btn {
    margin-left: 15px;
    height: 30px;
    background-color: gold;
    color: black;
    border: 1px solid black;
}
.input-ten,
.input-loai,
.input-vitri,
.input-hang{
  margin-left: 5px;
  height: 25px;
}
.form-nhap{
  margin-bottom: 15px;
}
